div .b11-div {
    width: 50%;
    max-height: 5vh !important;
    margin-bottom: 5em;
}
.Todobar{
    font-size: 3em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 90%;
    
}
input::placeholder {
    color: #f5a7b7;
    font-weight: lighter;
}
input {
    color: #f14668;
    background:#fff5e2;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.Todobar:focus{
    outline: none;
}

.b11-button{
    padding: 10px;
    width: 10%;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border: none;
    outline: none;
    
}

.b11-button:hover{
    background: rgba(255, 255, 255, 0) !important;
    
}

.b11-button:focus {
    background: rgba(255, 255, 255, 0) !important;
}