.b11-div {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.b11-textarea {
    width: 90%;
    font-weight: lighter;
    font-size: 3em;
    padding: 10px;
    border: none;
    
}

.b11-textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #f5a7b7;
    font-weight: lighter !important;
}

textarea {
    color: #f14668 !important;
    background:#fff5e2;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder !important;
}

.b11-side-buttons{
    height: 100%;
    float: right;
    width: 10%;
}

.b11-side-buttons button{
    display: flex;
    overflow: hidden;
   
}

.b12-button{
    padding: 10px;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    border-radius: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

