.App {
  text-align: center;
  background-color: #F7E9CD;
  min-height: 100vh;
  

}
.button {
  font-weight: bolder !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

/* h1 {
  font-family: 'Arial';
  font-weight: 400;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.b11-title {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}